@import "tailwindcss";

:root {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Themes */
@theme {
  /* Light Theme Colors */
  --color-text: #1e1a2e;
  --color-bg-light: #f4f2eb;
  --color-bg-primary: #777983;
  --color-bg-secondary: #b7bbc2;
  --color-bg-accent: #5b4f6d;

  /* Dark Theme Colors */
  --color-text-dark: #d5d1e5;
  --color-bg-dark: #14120b;
  --color-bg-primary-dark: #7c7e88;
  --color-bg-secondary-dark: #3d4148;
  --color-bg-accent-dark: #9e92b0;
}

/* Light Theme Utilities */
.text-color {
  color: var(--color-text);
}
.text-accent {
  color: var(--color-bg-accent);
}
.bg-text {
  background-color: var(--color-text);
}
.bg-light {
  background-color: var(--color-bg-light);
}
.bg-primary {
  background-color: var(--color-bg-primary);
}
.bg-secondary {
  background-color: var(--color-bg-secondary);
}
.bg-accent {
  background-color: var(--color-bg-accent);
}
.border-primary {
  border-color: var(--color-bg-primary);
}
.border-secondary {
  border-color: var(--color-bg-secondary);
}
.border-accent {
  border-color: var(--color-bg-accent);
}

/* Dark Theme Utilities */
.dark .text-color {
  color: var(--color-text-dark);
}
.dark .text-accent {
  color: var(--color-bg-accent-dark);
}
.dark .bg-text {
  background-color: var(--color-text-dark);
}
.dark .bg-light {
  background-color: var(--color-bg-dark); /* optional fallback */
}
.dark .bg-primary {
  background-color: var(--color-bg-primary-dark);
}
.dark .bg-secondary {
  background-color: var(--color-bg-secondary-dark);
}
.dark .bg-accent {
  background-color: var(--color-bg-accent-dark);
}
.dark .border-primary {
  border-color: var(--color-bg-primary-dark);
}
.dark .border-secondary {
  border-color: var(--color-bg-secondary-dark);
}
.dark .border-accent {
  border-color: var(--color-bg-accent-dark);
}

/* Utilities */
@utility container{
  display: flex;
  flex-direction: column;
  padding: 0 5vw;
  max-width: 100%;
  max-height: 200vh;
  justify-items: center;
}

@utility no-scrollbar{
  scrollbar-width: none;
  -ms-overflow-style: none;
  
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}